{% extends "base.html" %}
{% block start %}

<div class="container mt-5">

    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h2>Add Receipe</h2>
      <hr>
      <div class="mb-3">
        <label for="exampleInputEmail" class="form-label">Receipe name</label>
        <input name="receipe_name" required type="text" class="form-control" >
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Receipe description</label>
        <textarea class="form-control" name="receipe_description" required></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
        <input name="receipe_image" type="file" class="form-control">
      </div>

      <button type="submit" class="btn btn-success">Add Recipe</button>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Receipe name</th>
            <th scope="col">Receipe Desc</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for receipe in receipes %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{receipe.receipe_name}}</td>
            <td>{{receipe.receipe_description}}</td>
            <td>
              <img src="/media/{{receipe.receipe_image}}" style="height: 100px"> </td>
              <td>
                <a href="/delete-receipe/{{receipe.id}}/" class="btn btn-danger m-2">Delete</a>
                <a href="/update-receipe/{{receipe.id}}/" class="btn btn-success">Update</a>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

</div>

{% endblock %}