{% extends "base.html" %}
{% block start %}
    
    <h1>This is Index Page</h1>



    <table class="container">
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Age</th>
          <th>Can Vote</th>
        </tr>

        {% for people in peoples %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{people.name}}</td>
          <td>{{people.age}}</td>
          <td {% if people.age > 18 %} style="background:red" {% endif %}>
            {% if people.age >= 18%}
            👍
            {% else %}
            👎
            {% endif %}
          </td>
        </tr>
        {% endfor %}

    </table>
    <p>
        {{text}}
    </p>

{% endblock %}